<h2>Log a new bad movie remake</h2>


<form action='/bad-movie-remakes' method='POST'>
  <div>
    <label for='title'>
      Movie Title: 
    </label>
    <input type='text' name='title' id='title' />
  </div>
  <div>
    <label for='description'>
      Movie Description: 
    </label>
    <input type='text' name='description' id='description' />
  </div>

  <div>
    <input type='submit' value='PRESS BUTTON TO ADD NEW BAD MOVIE' />
  </div>
</form>